version 7.2.1
source https://api.nuget.org/v3/index.json

storage: none

nuget coverlet.collector 8.0.1
nuget FSharp.Core 10.0.103
nuget FSharp.Data 4.2.0 // If you update this update the reference in the docs too. Docs generation fails if the packet version and #r nuget versions are different
nuget FsUnit 7.1.1
nuget Microsoft.NET.Test.Sdk 18.3.0
nuget NUnit 4.5.1
nuget NUnit3TestAdapter 6.2.0